<table id="projects">
	<% num_rows = @data.inject(0) { |n, (_, projects)| n + projects.length } %>
	<colgroup>
		<col style="width: 10%" />
		<col style="width: 10%" />
		<% @categories.length.times do %>
			<col style="width: <%= 80 / @categories.length %>%" />
		<% end %>
	</colgroup>
	<thead>
		<tr style="height: 5%">
			<th id="countdown" colspan=2 />
			<% @categories.each do |h| %>
				<th><%= h.titleize %></th>
			<% end %>
		</tr>
	</thead>
	<% @data.each do |branch, projects| %>
		<% projects = projects.sort.reverse %>
		<% projects.each_with_index do |(db, cells), i| %>
			<tr style="height: <%= 95 / num_rows %>%">
			<% if branch.blank? %>
				<% if i == 0 %>
					<th rowspan=<%= projects.length %> colspan="2" class="down">Server Down!</th>
				<% end %>
				<td colspan="<%= @categories.length %>" class="down">
					<%= link_to cells[nil][:url], cells[nil][:url], :target => "_blank" %>
				</td>
			<% else %>
				<% if i == 0 %>
					<th rowspan=<%= projects.length %>><%= branch.humanize %></th>
				<% end %>
				<th><%= db.upcase %></th>
				<% @categories.each do |h| %>
					<% c = cells[h] %>
					<% if c.blank? %>
						<td />
					<% else %>
						<td class="<%= c[:status] %>">
							<% name = c[:last_built].blank? ? "Never Built" : "#{time_ago_in_words(c[:last_built])} ago".capitalize %>
							<%= link_to name, c[:url], :target => "_blank" %>
							</br>
							<%= c[:last_sha] %>
							<% if c[:activity] == :building %>
								<div class="icon">
									<%= image_tag "spinner_#{c[:status]}.gif" %>
								</div>
							<% elsif c[:activity] == :queued %>
								<div class="icon">
									<%= image_tag "queued.png" %>
								</div>
							<% end %>
						</td>
					<% end %>
				<% end %>
			<% end %>
			</tr>
		<% end %>
	<% end %>
</table>
